services:
  mealie:
    container_name: mealie
    image: hkotel/mealie:v3.10.2
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.mealie.rule=Host(`${MEALIE_HOSTNAME}`)
      - traefik.http.routers.mealie.entrypoints=websecure
      - traefik.http.routers.mealie.tls=true
      - traefik.http.routers.mealie.tls.certresolver=cloudflare

networks:
  traefik:
    external: true
