services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - ./data:/data
    environment:
      - ICON_SERVICE=internal
      - ICON_REDIRECT=false
      - ICON_CACHE_TTL=2592000
      - ICON_DOWNLOAD_TIMEOUT=30
      - ICON_BLACKLIST_NON_GLOBAL_IPS=false
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.vaultwarden.rule=Host(`${VAULTWARDEN_HOSTNAME}`)
      - traefik.http.routers.vaultwarden.entrypoints=websecure
      - traefik.http.routers.vaultwarden.tls=true
      - traefik.http.routers.vaultwarden.tls.certresolver=cloudflare
      - docker-volume-backup.stop-during-backup=true

networks:
  traefik:
    external: true
