services:
  radicale:
    container_name: radicale
    image: tomsquest/docker-radicale
    restart: unless-stopped
    volumes:
      - ./data/data:/data
      - ./data/config:/config:ro
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.radicale.rule=Host(`${RADICALE_HOSTNAME}`)
      - traefik.http.routers.radicale.entrypoints=websecure
      - traefik.http.routers.radicale.tls=true
      - traefik.http.routers.radicale.tls.certResolver=cloudflare
      - traefik.http.services.radicale.loadbalancer.server.port=5232
      - docker-volume-backup.stop-during-backup=true
    healthcheck:
      test: curl -f http://127.0.0.1:5232 || exit 1
      interval: 30s
      retries: 3
    cap_add:
      - SETUID
      - SETGID
      - CHOWN
      - KILL
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          memory: 256M
          pids: 50
    init: true
    read_only: true
    security_opt:
      - no-new-privileges:true

networks:
  traefik:
    external: true
