services:
  tailscale:
    container_name: tailscale
    image: tailscale/tailscale:latest
    restart: unless-stopped
    volumes:
      - ./data/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ACCEPT_DNS=false
      - TS_EXTRA_ARGS=--advertise-exit-node --advertise-routes=${TS_ADVERTISE_ROUTES}
      - TS_USERSPACE=false
    healthcheck:
      test: [ "CMD", "tailscale", "status" ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s
    cap_add:
      - net_admin
      - sys_module
      - net_raw
    cap_drop:
      - all
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 50M
    network_mode: host
    privileged: true
    security_opt:
      - no-new-privileges=true
